.header {
}

.menu {
}

.cart-icon {
  font-size: 1.7rem;
  vertical-align: middle;
  margin-right: 5px;
}

.myBadge {
  font-size: 0.7rem !important;
  vertical-align: top !important;
  background-color: #eaa451 !important;
}

.menu-item {
  color: #1a1668 !important;
  font-size: 16px !important;
  cursor: pointer;
  font-weight: 700 !important;
  margin-right: 20px;
  line-height: 1;
}

.my-input-group {
  padding: 0px 20px;
}
